{% extends 'base.html.twig' %}

{% block title %}Hello ApiCrudController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 12px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    Filter email: <input type="email" id="filter-email">
    <table id="users-table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Gender</td>
            <td>Status</td>
            <td>Created at</td>
            <td>Updated at</td>
            <td>actions</td>
        </tr>
        <tr>
            <td>#</td>
            <td><input type="text" id="user-name" /></td>
            <td><input type="email" id="user-email" /></td>
            <td>
                <select id="user-gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </td>
            <td>
                <select id="user-active">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </td>
            <td>#</td>
            <td>#</td>
            <td><button id="user-create">create</button></td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const usersApi = {
            fetchUsers() {
                $.get("https://gorest.co.in/public-api/users?email=" + $('#filter-email').val(), data => {
                    $('#users-table > tbody').html('');
                    data.data.forEach(user => {
                        $('#users-table > tbody')
                            .append(
                                '<tr>' +
                                '<td>' + user.id + '</td>' +
                                '<td>' + user.name + '</td>' +
                                '<td>' + user.email + '</td>' +
                                '<td>' + user.gender + '</td>' +
                                '<td>' + user.status + '</td>' +
                                '<td>' + user.created_at + '</td>' +
                                '<td>' + user.updated_at + '</td>' +
                                '</tr>'
                            )
                    });
                });
            },
            addUser() {
                $.ajax({
                    url: 'https://gorest.co.in/public-api/users',
                    type: 'post',
                    data: {
                        name: $('#user-name').val(),
                        email: $('#user-email').val(),
                        gender: $('#user-gender').val(),
                        status: $('#user-active').val(),
                    },
                    headers: {
                        Authorization: 'Bearer b550e0297695de854a5d8fab2351dd3e55b96596107674a745f6ff5fbc712874',
                    },
                    dataType: 'json',
                    success: data => {
                        if (401 === data.code) {
                            alert('Auth failed');
                        } else if (201 === data.code) {
                            alert('Created');
                            this.fetchUsers();
                        }
                    }
                });
            }
        }

        usersApi.fetchUsers();

        $('#user-create').click(() => {
            usersApi.addUser();
        });

        $('#filter-email').keyup(() => {
            usersApi.fetchUsers();
        });
    </script>
{% endblock %}